---
# Only the main Sass file needs front matter (the dashes are enough)
---

strong {
    font-weight: bolder;
}

pre.highlight {
    font-size: 90%;
    background: #272822;
}

.post-meta .post-info {
    border: 1px solid #EAEAEA;
    margin-top: 20px;
}

.post-meta .post-info a{
    color: #666666;
}

.post-meta .post-info:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.post-meta .author, .post-meta .post-date, .post-meta .category, .post-meta .comments, .post-meta .read-more {
    padding: 5px 10px;
    float: left;
}

.post-meta a.read-more {
    color: #ffffff;
    background-color: #5bc0de;
    float: right;
}

.sidebar-content {
    margin-top: 20px;
}

/*---------------------- main-sidebar ------------------------*/

.main-sidebar .auther-avatar img {
    border-radius: 50%;
    max-width: 200px;
    border: 1px solid #f2f3f3;
    padding: 5px;
    margin: 10px auto;
    display:block;
}

.brief-intro .auther-name {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

/*--------- social-icons ----------*/
.social-icons .fa-github, .social-icons .fa-weibo, .social-icons .fa-twitter, .social-icons .fa-twitter-square, .social-icons .fa-circle {
    color: #777;
}

.social-icons .btn {
    padding: 6px 4px;
}

/*---------------------- post-sidebar ------------------------*/

.post-sidebar {
    background-color: #fff;
    margin-left: 20px;
}

.headers-sidenav {
    padding: 20px 10px;
    padding-left: 0px;
    border: 1px solid #EAEAEA;
    width: 250px;
}

/* All levels of nav */
.header-list-sidebar .nav > li > a {
    display: block;
    padding: 2px 20px;
    font-weight: bold;
    color: #767676;
    /*no wrap*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.header-list-sidebar .nav > li > a:hover,
.header-list-sidebar .nav > li > a:focus {
    color: #87CEFA;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #87CEFA;
}
.header-list-sidebar .nav > .active > a,
.header-list-sidebar .nav > .active:hover > a,
.header-list-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #5bc0de;
    background-color: transparent;
    border-left: 2px solid #5bc0de;
}

/* Nav: second level (shown on .active) */
.header-list-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 35px;
}
.header-list-sidebar .nav .nav > li > a:hover,
.header-list-sidebar .nav .nav > li > a:focus {

}
.header-list-sidebar .nav .nav > .active > a,
.header-list-sidebar .nav .nav > .active:hover > a,
.header-list-sidebar .nav .nav > .active:focus > a {

}

/* Nav: 3rd level (shown on .active) */
.header-list-sidebar .nav .nav .nav {

}
.header-list-sidebar .nav .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 50px;
}
.header-list-sidebar .nav .nav .nav > li > a:hover,
.header-list-sidebar .nav .nav .nav > li > a:focus {

}
.header-list-sidebar .nav .nav .nav > .active > a,
.header-list-sidebar .nav .nav .nav > .active:hover > a,
.header-list-sidebar .nav .nav .nav > .active:focus > a {

}


/*--------- back-to-top link ---------*/
.back-to-top {
    background-color: #f0ad4e;
    position: fixed;
    color: #FFFFFF;
    border-radius: 3px;
    opacity: 0.7;
    bottom: 20px;
    display: block;
    padding: 2px 14px;
    font-size: 24px;
}

a.back-to-top {
    text-decoration: none;
}

a.back-to-top:hover,
a.back-to-top:focus {
    opacity: 1;
    color: #fff;
}

/*--------- footer copyright ---------*/
.footer .copyright {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
    margin: 0 auto;
    background-color: #F8F8F8;
    border-top: 1px solid #EAEAEA;
    display: block;
    color: #404040;
    text-align: center;
}
