---
# Only the main Sass file needs front matter (the dashes are enough)
---

body { padding-top: 70px; }


.post-meta .post-info {
    border: 1px solid #EAEAEA;
    margin-top: 20px;
}

.post-meta .post-info a{
    color: #666666;
}

.post-meta .post-info:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.post-meta .author, .post-meta .post-date, .post-meta .category, .post-meta .comments, .post-meta .read-more {
    padding: 5px 10px;
    float: left;
}

.post-meta a.read-more {
    color: #ffffff;
    background-color: #5bc0de;
    float: right;
}